.container1 {
    position: absolute;
    top: 0,2;
    right: 0;
    padding:2px;
  }

  .container2 {
    position: absolute;
    top: 65px;;
    left: -120px;
    right: 10;
    height: 200%;
    width: 160%;
  }