<div class="card">
  <div class="card-header border-transparent">
    <h3 class="card-title">All Posts</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table m-0">
        <thead>
        <tr>
          <th>User</th>
          <th>Name</th>
          <th>Email</th>
          <th>Status</th>
          <th>Post Id</th>
          <th>Post Title</th>
          <th>React Number</th>
          <th>Report Number</th>
          <th>Post Status</th>

          <th>Action</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let i of listePost | paginate :{
itemsPerPage:1,
currentPage:pagePost};
 let aa =index ">
          <td><img class="direct-chat-img" src="{{i.user.photo}}" alt="message user image"></td>
          <td>{{i.user.firstName}}</td>
          <td>{{i.user.email}}</td>
          <td>{{i.user.ban}} <div *ngIf="i.user.banTime===null"><span class="badge badge-success">Not Baned</span></div><div *ngIf="i.user.banTime!==null"> <span class="badge badge-danger">Baned</span></div></td>
          <td>{{i.idPost}}</td>
          <td>{{i.title}} </td>
          <td>{{i.postLikes.length}}</td>
          <td>{{i.reported.length}}</td>
          <td><div *ngIf="i.archiver===false"><span class="badge badge-success">Not Archived</span></div><div *ngIf="i.archiver===true"> <span class="badge badge-danger">Archived</span></div></td>
          <td class="project-actions text-right" >
            <a class="btn btn-primary btn-sm" [routerLink]="['../backDF',i.idPost]">
              <i class="fas fa-folder">
              </i>
              View
            </a>
            <a class="btn btn-success btn-sm" (click)="ChangedStatus(i.idPost)">
              <i class="fas fa fa-sync-alt" >
              </i>
              Change Status
            </a>
            <a class="btn btn-info btn-sm" (click)="ChangedArchived(i.idPost)">
              <i class="fas fa fa-sync-alt">
              </i>
              Change Archived
            </a>
            <a class="btn btn-danger btn-sm" (click)="delete(i.idPost)">
              <i class="fas fa-trash" >
              </i>
              Delete
            </a>
          </td>
        </tr>
        </tbody>

      </table>
      <div  class="pagination-container">
        <pagination-controls

          nextLabel="Next"
          (pageChange)="pagePost = $event"></pagination-controls></div>

    </div>


  </div>
</div>

