<head>
  <base href="/">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/front/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/assets/front/img/favicon.png">
  <link rel="canonical" href="https://www.creative-tim.com/product/material-kit-pro" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="/assets/front/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/assets/front/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <link id="pagestyle" href="/assets/front/css/material-kit-pro.min3294.css?v=3.0.1" rel="stylesheet" />

</head>
<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg  blur border-radius-xl top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
        <div class="container-fluid px-0">
                    <span class="navbar-brand ms-sm-3  d-none d-md-block" data-placement="bottom">
                        SHOPFLIX
                    </span>
          <a class="navbar-brand ps-2 d-flex justify-content-between cursor-pointer align-items-center " routerLink="" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom">
            <i class="material-icons opacity-6 me-1 text-md">home</i>
            Home
          </a>

          <a class="navbar-brand ps-2 d-flex justify-content-between cursor-pointer align-items-center " routerLink="/admin" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom">
            <i class="material-icons opacity-6 me-1 text-md">dashboard</i>
            Dashboard
          </a>
          <a href="https://www.creative-tim.com/product/material-kit-pro#pricingCard" class="btn btn-sm  bg-gradient-primary  mb-0 ms-auto d-lg-none d-block">Buy Now</a>
          <button class="navbar-toggler shadow-none ms-md-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon mt-2">
<span class="navbar-toggler-bar bar1"></span>
<span class="navbar-toggler-bar bar2"></span>
<span class="navbar-toggler-bar bar3"></span>
</span>
          </button>
          <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-auto">


              <li class="nav-item dropdown dropdown-hover mx-2">
                <a role="button" class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuBlocks" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="material-icons opacity-6 me-2 text-md">view_day</i>
                  Sections
                  <img src="assets/front/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-2 d-lg-block d-none">
                  <img src="assets/front/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1 d-lg-none d-block ms-auto">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animation dropdown-md dropdown-md-responsive p-3 border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuBlocks">
                  <div class="d-none d-lg-block">
                    <ul class="list-group">
                      <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                        <a class="dropdown-item py-2 ps-3 border-radius-md" href="../index-3.html">
                          <div class="d-flex">
                            <div class="w-100 d-flex align-items-center justify-content-between">
                              <div>
                                <a class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0" routerLink="/Product">Product</a>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                        <a class="dropdown-item py-2 ps-3 border-radius-md" href="../index-3.html">
                          <div class="d-flex">
                            <div class="w-100 d-flex align-items-center justify-content-between">
                              <div>
                                <a class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0" routerLink="/Forum">Forum</a>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                        <a class="dropdown-item py-2 ps-3 border-radius-md" href="../index-3.html">
                          <div class="d-flex">
                            <div class="w-100 d-flex align-items-center justify-content-between">
                              <div>
                                <a class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0" routerLink="/offre">Amal</a>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                        <a class="dropdown-item py-2 ps-3 border-radius-md" href="../index-3.html">
                          <div class="d-flex">
                            <div class="w-100 d-flex align-items-center justify-content-between">
                              <div>
                                <a class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0" routerLink="/mycandidacy">Aziz</a>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                        <a class="dropdown-item py-2 ps-3 border-radius-md" href="../index-3.html">
                          <div class="d-flex">
                            <div class="w-100 d-flex align-items-center justify-content-between">
                              <div>
                                <a class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0" routerLink="/addC">Sabrine</a>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="row d-lg-none">
                    <div class="col-md-12">
                      <div class="d-flex mb-2">
                        <div class="w-100 d-flex align-items-center justify-content-between">
                          <div>
                            <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Page Sections</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>



<!--              <li class="nav-item dropdown dropdown-hover mx-2">-->
<!--                <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center">-->
<!--                  <i class="material-icons opacity-6 me-2 text-md">login</i>-->
<!--                  Sign in-->
<!--                </a>-->
<!--              </li>-->

              <li class="nav-item dropdown dropdown-hover mx-2" >
                <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                   data-bs-toggle="modal" data-bs-target="#chartModel" >
                  <a href="#" data-toggle="modal" data-target="#chartModal">
                    <span> <i class="material-icons opacity-6">add_shopping_cart</i>  </span>
                  </a>


                </a>
              </li>



              <li class="nav-item dropdown dropdown-hover mx-2">
                <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                   routerLink="profil" >
                  <img alt="Profil Picture" src="assets/front/img/achref.jpg" class="avatar avatar-xs rounded-circle mx-2">
                  name
                </a>
              </li>


              <li class="nav-item dropdown dropdown-hover mx-2">
                <a role="button" class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="material-icons opacity-6">notifications</i>
                  <span class="badge rounded-pill bg-dark">10</span>
                  <img src="assets/front/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1 d-lg-none d-block ms-auto">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animation dropdown-md mt-0 mt-lg-3 p-3 border-radius-lg" aria-labelledby="dropdownMenuDocs">

                  <!--Big Screen Notifications-->
                  <div class="d-none d-lg-block">
                    <ul class="list-group">
                      <li class="nav-item list-group-item border-0 p-0">

                                                <span class="dropdown-item py-2 ps-3 border-radius-md" >

                                                    <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-center align-items-center p-0"><i class="fa fa-circle fa-xs me-3 mt-3" style="color: #1770e6"></i>message</h6>
                                                    <span class="text-sm ms-4">notif<i class="fa fa-clock ms-1"></i>
                                                        </span>

                                                </span>
                      </li>

                    </ul>
                  </div>
                  <!--Big Screen Notifications-->


                  <!--Small Screen Notifications-->
                  <div class="row d-lg-none">
                    <div class="col-md-12 g-0">
                      <a class="dropdown-item py-2 ps-3 border-radius-md">
                        <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">message</h6>
                        <i class="material-icons opacity-6 me-2">access_alarm</i>
                        <span class="text-sm">aa</span>
                      </a>
                    </div>
                  </div>
                  <!--Small Screen Notifications-->
                </div>
              </li>




              <li class="nav-item dropdown dropdown-hover mx-2">
                <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                >
                  <i class="material-icons opacity-6 me-2 text-md">logout</i>
                  Sign out
                </a>
              </li>



            </ul>

          </div>
        </div>
        <!--panier-->
        <!--span class="material-icons" style="font-size: 32px; color: rgb(0, 0, 128); text-shadow: rgb(229, 215, 215) -8.2px 0.1px 10px;">shopping_cart</span-->

        <!--end panier-->
      </nav>

    </div>
  </div>
</div>


<router-outlet></router-outlet>

<footer class="footer py-5 bg-gradient-faded-primary position-relative overflow-hidden">
  <img src="../../assets/front/img/shapes/waves-white.svg" alt="pattern-lines" class="position-absolute start-0 top-0 w-100 opacity-1" loading="lazy">
  <div class="container position-relative">
    <div class="row">
      <div class="col-lg-4 me-auto my-auto text-lg-start text-center">
        <h6 class="text-white font-weight-bold text-uppercase mb-2">SHOPFLIX</h6>
        <p class="text-white">
          Copyright © ShopFlix by Les elites team.
        </p>
      </div>
      <div class="col-lg-2 col-sm-4 col-12 ms-md-auto text-lg-start text-center mb-sm-0 mb-4">
        <div>
          <h6 class="text-white text-sm mb-1">Company</h6>
          <ul class="flex-column ms-lg-n3 nav">
            <li class="nav-item">
              <a class="nav-link text-white opacity-8 text-sm pb-0" href="javascript:" target="_blank">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8 text-sm pb-0" href="javascript:" target="_blank">
                Careers
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8 text-sm pb-0" href="javascript:" target="_blank">
                Press
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 col-12 text-lg-start text-center mb-sm-0 mb-4">
        <div>
          <h6 class="text-white text-sm mb-1">Pages</h6>
          <ul class="flex-column ms-lg-n3 nav">
            <li class="nav-item">
              <a class="nav-link text-white opacity-8 text-sm pb-0" href="javascript:" target="_blank">
                Login
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8 text-sm pb-0" href="javascript:" target="_blank">
                Register
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8 text-sm pb-0" href="javascript:" target="_blank">
                About
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 col-12 text-lg-start text-center mb-sm-0 mb-4">
        <div>
          <h6 class="text-white text-sm mb-1">Products</h6>
          <ul class="flex-column ms-lg-n3 nav">
            <li class="nav-item">
              <a class="nav-link text-white opacity-8 text-sm pb-0" href="javascript:" target="_blank">
                Free
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8 text-sm pb-0" href="javascript:" target="_blank">
                PRO
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white opacity-8 text-sm pb-0" href="javascript:" target="_blank">
                Latest
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>









<!-- Modal Chart -->
<div class="modal fade" id="chartModel" tabindex="-1" aria-labelledby="chartModel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Your Cart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <br><br>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn bg-gradient-dark mb-0" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn bg-gradient-primary mb-0">Order now</button>
        <button type="button" class="btn bg-gradient-primary mb-0">View all</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Chart -->
