 <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Post Details</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Post Detail</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <!-- Timelime example  -->
      <div class="row">
        <div class="col-md-12">
          <!-- The time line -->
          <div class="timeline">
            <!-- timeline time label -->
            <div class="time-label">
              <span class="bg-red">{{getDateOnly((post.dateCre))}}</span>
            </div>
            <div>
              <i class="fas fa-user bg-green"></i>
              <div class="timeline-item">
                <span class="time"><i class="fas fa-clock">{{getDateOnly(post.dateCre)}} </i></span>
                <h3 class="timeline-header"><a href="#">{{post.user.username}}:</a>{{post.title}}</h3>
                <div class="timeline-body">
                  {{post.body}}
                </div>
              </div>
            </div>


            <div *ngFor="let i of post.comments">
              <i class="fas fa-comments bg-yellow"></i>
              <div class="timeline-item">
                <span class="time"><i class="fas fa-clock"></i>{{getDateOnly(i.commentDate)}}</span>

                <h3 class="timeline-header"><a href="#">{{i.user.username}}</a></h3>
                <div class="timeline-body">
                  {{i.text}}
                </div>
              </div>
            </div>
            <!-- END timeline item -->
            <!-- timeline time label -->

            <!-- /.timeline-label -->
            <!-- timeline item -->

          </div>
        </div>
        <!-- /.col -->
      </div>
    </div>
    <!-- /.timeline -->

  </section>
  <!-- /.content -->

