<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="main-body">

    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card justify-content-center align-items-center">
          <div class="card-body justify-content-center align-items-center">
            <div class="d-flex flex-column align-items-center text-center">
              <img src= "../../../assets/images/amalfares.jpg"  class="rounded-circle" width="150">

            </div>
          </div>
        </div>

      </div>
      <div class="col-md-8"  >
        <div class="card mb-3"   >
          <div class="card-body" >
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">priorite </h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{reclamation.priorite}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">type reclamation</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{reclamation.typerec}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Status</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{reclamation.ticketstatus}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Description de la reclamation </h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{reclamation.description}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Date de creation de la reclamation </h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{reclamation.createdDate}}
              </div>
            </div>
          </div>
        </div>






      </div>
    </div>
  </div>


</div>




