<div class="col-md-6">

  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Order</h3>
    </div>


    <form>
      <div>
      <div class="card-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="password" class="form-control"  placeholder="name">
        </div>
        <div class="form-group">
          <label>Phone</label>
          <input type="password" class="form-control"  placeholder="ph one">
        </div>
        <div class="form-group">
          <label>Adress</label>
          <input type="password" class="form-control"  placeholder="@">
        </div>
        <div class="form-group">
          <label>Date</label>
          <input type="password" class="form-control"  placeholder="date">
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
      </div>
    </form>

  </div>
  </div>
